.footer {
  position: fixed;
  background-color: #1a1a1a;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 30%;
}

h1 {
  color: #7a7d7f;
  text-align: center;
  font-size: 19px!important;
  font-family: proxima-nova;
}

.social-icon {
  text-align: center;
}

.social-icon a {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  position: relative;
  margin: 0 4px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

a i{
  top:0;
  left:0;
  line-height: 28px;
  font-size: 15px;
  color: #151616;
}