.menu-center{
    width: 100%;
}

.menu-list{
    list-style-type: none;
    overflow: hidden;
    font-family: proxima-nova;
    font-size: 11.5px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    justify-content: center !important;
    text-align: center;
    margin-top: 35px;
    margin-left:20px;
    margin-right:20px;
}

.menu-center li{
    padding-right: 28px;
    display:inline;
    
}

.desktopImage{
    width:72px;
    height:72px;
}

.menu-center li:last-child{
    padding-right: 0;
    float:right;
    
}

.menu-center li:first-child{
    float:left;
    padding-left: 0;
    margin-top:0 !important;
}

.menu-center a{
    text-decoration: none;
    color:black;
}


.mobile-header{
    list-style-type:none;
    justify-content: center;
}

.first-img{
    width: 42px;
    margin-top: 10px;
}

.mobile-header{
    padding-top: 8px;
    padding-bottom: 8px;
}

.rightImage{
    float:right;
    padding-right:0;
    margin-top: 5px;
    right:15px;
    height: 32px;
    width: 35px;
    margin-top: 15px;
    position:absolute;
    margin-right: 10px;
}

.header-menu{
    width: 100%;
}
