.menu-center{
    width: 100%;
}

.menu-list{
    list-style-type: none;
    overflow: hidden;
    font-family: proxima-nova;
    font-size: 11.5px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    justify-content: center !important;
    text-align: center;
    margin-top: 35px;
    margin-left:20px;
    margin-right:20px;
}

.menu-center li{
    padding-right: 28px;
    display:inline;
    
}

.desktopImage{
    width:72px;
    height:72px;
}

.menu-center li:last-child{
    padding-right: 0;
    float:right;
    
}

.menu-center li:first-child{
    float:left;
    padding-left: 0;
    margin-top:0 !important;
}

.menu-center a{
    text-decoration: none;
    color:black;
}


.mobile-header{
    list-style-type:none;
    justify-content: center;
}

.first-img{
    width: 42px;
    margin-top: 10px;
}

.mobile-header{
    padding-top: 8px;
    padding-bottom: 8px;
}

.rightImage{
    float:right;
    padding-right:0;
    margin-top: 5px;
    right:15px;
    height: 32px;
    width: 35px;
    margin-top: 15px;
    position:absolute;
    margin-right: 10px;
}

.header-menu{
    width: 100%;
    overflow: hidden;
}

.mobile-page{
    width: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    height:100vh;
    background-color: #151616;
}

.mobile-exit-icon{
    text-align: center;
    padding: 30px 0 0;
}

.mobile-container{
    padding: 30px 30px 30px;
    
}

.mobile-menu{
    margin-bottom: 20px;
    position: relative;
    padding-top: 15px;
}

.mobile-nav{
    list-style-type: none;
    padding:0;
    margin:0;
    display:block;
    margin-block-start: 1em;
    margin-block-end:1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mobile-nav li{
    border-bottom:1px solid #333;
    margin-top:5px;
    padding: 15px 50px 15px 0;
}

.mobile-nav a{
    color: #E1A87A;
}

.mobile-social-icons{
    text-align: center;
    overflow: hidden;
}

.social-icons {
    padding: 0 0 0 0!important;
    margin: 0 -3px;
    text-align: center;
    overflow: hidden;
  }

  .social-icons li{
    display: inline-block;
    float:none;
    width: 50px;
  }

.social-icons a {
    width: 40px;
    position: relative;
    margin: 0 1px;
    background-color: transparent!important;
    line-height: 30px;
    display: inline-block;
    font-size: 15px;
  }